@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: white;
  box-shadow: 0 0 10px 5px #EDEDED;
  height: 80px;
  color: black;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.title{
  font-family: "Salsa", cursive;
  margin: 20px;
  font-size: 35px;
}

li {
  display: inline-block;
  margin-right: 30px;
}
.flex{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: #222684;
  color: white;
  margin-right: 15px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.login:hover {
  background-color: #3b3d85;
}

.create{
  margin-top: 60px;
  font-size: 60px;
  font-family: "Sanchez", serif;
  text-align: center;
}
.started{
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}
.signup {
  background-color: #222684;
  color: white;
  margin-right: 15px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.signup:hover {
  background-color: #3b3d85;
}

.paradec{
  padding-top: 100px;
  margin-left: 50px;
  display: flex;
  font-size: 20px;
}
.image1{
  width: 500px;
  padding-top: 20px;
  margin-left: 300px;
  mix-blend-mode: multiply;
}

.question{
  background-color: #222684;
  color: white;
  display: flex;
  font-family: "Salsa", cursive;
}
.common-questions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;

}
.faq{
  margin-bottom: -15px;
  font-size: 20px;
}
.common{
  margin-bottom: 10px;
  font-size: 30px;
}
.comque{
  text-align: center;
  font-size: 20px;
}
.question-no{
  margin-left: 150px;
}
.questions1{
  font-size: 30px;
}
.answer{
  font-size: 20px;
}
.contact{
  display: flex;
  margin-top: 25px;
}
.contactus{
  font-size: 20px;
  margin-right: 1100px;
}
.logo img{
  margin-right: 50px;
  height: 50px;
  width: auto;
}